
div {
	font-family:Arial, Helvetica, sans-serif;
	color:#888;
	font-size:12px;
	text-shadow: 1px 1px 0px #444;
	padding: 5px;
}

 table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	 text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0 auto;
	}
 table th {
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	}
 table tr{
	text-align: center;
	padding-left:20px;
}
 table tr td {
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
}


body {
	background-color: #fff;
	background-image: url("img/bacgrnd.png");
	background-size: 70px 70px;
}
.content{
	align-content: center;
	margin: auto;
	background: #ddd;
	max-width: 80%;
	min-width: 1000px;
	border:1px solid #000;
	padding: 20px;
}

a:link {text-decoration:none;}
a:visited {color: #4a4a4a; text-decoration:none; color:inherit;}


ul {position:relative;
	left:2%;
	text-align: center;
	display: inline;
	margin: auto;
	padding: 15px 4px 17px 0;
	list-style: none;
}

ul li {
	width: 20%;
	font: bold 12px/18px sans-serif;
	border:1px solid #000;
	border-radius:5px;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #fff;

}

ul li:hover {
	background: #fff;
	opacity:1;
	box-shadow: 0 0 10px 2px #1A3457;
	-webkit-box-shadow: 0 0 10px 2px #1A3457;
	-moz-box-shadow: 0 0 10px 2px #1A3457;
}

